<app-custom-header>NEWS</app-custom-header>

<ion-content [fullscreen]="true">
  <app-custom-content title="NEWS">
  
    {{ 'home.Hello' | translate }}
    <div *ngIf="isOnline">Online</div>
    <div *ngIf="!isOnline">Offline</div>
    <ion-card *ngFor="let item of [1,2,3,4]">
      <img (error)="errorImage($event)"
        [src]="'https://image.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'" />
      <ion-card-header>
        <ion-card-subtitle>TITLE</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        TEXT
        <ion-button ion-button fill="outline" href="#" large>Read full article</ion-button>
      </ion-card-content>
    </ion-card>
  </app-custom-content>
</ion-content>