:host {
    height: 100%;

    ion-content {
        --background: transparent;

        .stretch {
            min-height: 80px;

            @media screen and (min-width: 768px) {
                display: none;
                min-height: 0;
                flex-grow: 0;
            }
        }

        .content-central {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            overflow-y: auto;
            @media screen and (min-width: 768px) {
                min-height: auto;
            }

            &::ng-deep {
                .card-content {
                    padding-bottom: 0;
                    @media screen and (min-width: 768px) {
                        border-radius: 25px;
                    }
                }
            }
        }
    }
}